# Django Core
Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Base de datos
psycopg2-binary==2.9.9

# Autenticación & Seguridad
djangorestframework-simplejwt==5.3.0
PyJWT==2.8.0

#  Documentos 
Pillow==10.3.0
boto3==1.29.7

# Utilidades
python-dotenv==1.0.0
python-decouple==3.8

# Desarrollo
django-extensions==3.2.3

# Producción
gunicorn==21.2.0
whitenoise==6.6.0
